<html>
	<head> 
	<title> Data Analyzer </title>
	<link rel="stylesheet" type="text/css" href="style2.css" />
	
	</head>
	
	
	
	<body>
	
	<br />
	<h1><b><hr style="color:#210B61; background-color:#210B61; height:5px;" /> Data Analyzer <hr style="color:#210B61; background-color:#210B61; height:5px;"/></b></h1>
	

	
	<h2><b> Step 3: </b></h2>
	<h4> Select an Analysis </h4>
	
	

	
	<form method="post" action="{% url "graph" %}" enctype="multipart/form-data">
    {% csrf_token %}
		<p>
			
			
       <select class="list" name="analysistype" id="analysistype" required >
           <option value="forecast" selected >Forecast</option>
           <option value="ascending">Ascending</option>
       </select>
	
		<input type="image" class="fle" src ="image1.png" alt="Fleche"  />
	   
	   
		</p>
	</form>
	
	</body>

</html>